.yourMistakeContainer {
    min-height: 10vh;
    width: 95vw;
    background-color: lightgrey;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boxText {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.deleteButton {
    background-color: white;
}