.yourMistakeContainer {
    min-height: 10vh;
    width: 95vw;
    background-color: lightgrey;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.boxText {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.deleteButton {
    background-color: white;
}

.box {
    background-color: white;
    height: 20px;
    width: 20px;
    margin: 0px 20px 0px 10px; /*go back and change all to this format*/
}

.boxChecked {
    background-color: red;
    height: 20px;
    width: 20px;
    margin: 0px 20px 0px 10px;
    color: white;
}

.plainText {
    text-align: left !important;
    margin: 0px;
}

.lineItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}